
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
    width: 100%;
    height: 100vh;
    
    position: relative;

}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
 
}
.capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #1c1c1d; */
    opacity: 0.51;
    /* mix-blend-mode: overlay; */
    z-index: -1;
    
   
}


  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px); /* Para Safari y Chrome antiguos */
-moz-transform: translateX(26px);    /* Para Firefox antiguos */
-ms-transform: translateX(26px);     /* Para Internet Explorer */
-o-transform: translateX(26px);      /* Para Opera */
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
header{
    width: 100%;
   
    height: 20%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index:3;
}

.contenedor_header{
    width: 95%;
   max-height: 120px;
    /* outline: 1px dashed black; */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index:3;

}
.btnplay{
    width: 130px;
    height: 80px;
    position: absolute;
    left: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_img{
    width: 100%;
    max-width: 300px;
    max-height: 120px;
position: relative;
    /* border: 1px dashed red; */
}
.contenedor_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.contenedor_menu{
    width: 90px;
    height: 90px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


main{
    width: 100%;
    height: 80vh;
    /* border: 1px solid black; */
    
    display: flex;
   overflow: hidden;
    position: relative;
    z-index:2;

}
aside{
 
    
    
    position: relative;
    z-index: 2;
    font-family: sans-serif;
}


/* //////////////////////////// */

/*  links sidebar CSS  */
._social-links {
	position: fixed;
	right: 0;
	top: 34%;
	transform: translatey(-50%);
	padding: 1em 0.5em 1em 1em;
	background: #fafafa;
	border-radius: 0.5em 0 0 0.5em;
	box-shadow: -4px 0px 0px #ed1c5b;
	transition: all 300ms ease;
}

._social-links:hover {
	box-shadow: -8px 0px 20px #ed1c5b;
	padding: 1em;
}

._links-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
._social-link a {
	color: #111;
	font-size: 1.5rem;
	transition: all 200ms ease;
}
._social-link a:visited {
	color: #111;
}
._social-link a:hover {
	color: #ed1c5b;
	font-size: 1.75rem;
}



.btn{
    border-radius: 50%;

    width: 68px;
    height: 68px;
    background-color: #094036;
    color: #fff;
    cursor: pointer;
}

.btn1{
    position: absolute;
    top: 0px;
}
.btn2{
    position: absolute;
    top: 28%;
    right: 0;
}
.btn3{
    position: absolute;
    top: 56%;
    right: 0;
}
.btn4{
    position: absolute;
    bottom: 0;
}

.controlador_vertical{
    width: 100%;
    height: 320vh;
    min-height: 320vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out; /* Para Safari y Chrome antiguos */
-moz-transition: -moz-transform 1s ease-in-out;       /* Para Firefox antiguos */
-ms-transition: -ms-transform 1s ease-in-out;         /* Para Internet Explorer */
-o-transition: -o-transform 1s ease-in-out;  
}

section{
    width: 100%;
    height: calc(320vh / 4);
        z-index: 1;
        position: relative;
        display: flex;

}
.inicio{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}



.contenedor_tituloMenu{
    width: 300px;
    height: 60;
    /* outline: 1px dashed black; */
   text-align: center;

   position: absolute;
   top: 0px;
   left: 20px;
   
   
   
}
.contenedor_tituloMenu-Inicio{
    width: 300px;
    height: 60;
    /* outline: 1px dashed black; */
   text-align: center;
   
  letter-spacing: 0.10em;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
  color: #ececee;
   
}

.contenedor_tituloMenu p{
    text-align: center;
  letter-spacing: 0.10em;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
color: #ececee;
    
}

.contenedor_mitades{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mitades_uno{
    width: 50%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_letras{
    width: 100%;
    height: 60%;
  
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   
    
}
.contenedor-titulo__sub{
    /* outline: 1px black dashed; */
    width: 100%;
    text-align: center;
    
} 
.typed{
   
}
.letras{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    line-height: 50px;
    font-weight: 600;
    /* background: conic-gradient(from 162.22deg at 48.75% 6.95%, #6DF4F4 0deg, #9F2BFB 148.13deg, #F2EBAB 180deg, #FF5EEF 270deg, #FF5EEF 360deg); */
    background-image: linear-gradient(to left, #ed1c5b, #f12b69, #f43977, #f74585, #f95092, #f967a9, #f77cbd, #f590cf, #efb0e7, #edcdf6, #f1e7fe, #ffffff);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-style: normal;
   
}

.mitades_dos{
    width: 50%;
    height: 100%;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.5s ease, height 0.5s ease; /* Safari y Chrome */
    -moz-transition: opacity 0.5s ease, height 0.5s ease; /* Firefox */
    -o-transition: opacity 0.5s ease, height 0.5s ease; /* Opera */
    transition: opacity 0.5s ease, height 0.5s ease; /* Navegadores modernos */
    z-index: 10;
    overflow: hidden; /* Añadido para solucionar posibles problemas de interpolación en algunas versiones de Firefox */
}

.overlay-btn {
    
    opacity: 0;
    -webkit-transition: opacity 0.3s ease; /* Safari y Chrome */
    -moz-transition: opacity 0.3s ease; /* Firefox */
    -o-transition: opacity 0.3s ease; /* Opera */
    transition: opacity 0.3s ease; /* Navegadores modernos */
}

.button-51:hover{
    cursor: pointer;
   }
  /* CSS */
  .button-51,
  .button-51:after {
    width: 120px;
      height: 46px;
    
    
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
      font-size: 12px;
    background: linear-gradient(45deg, transparent 5%, #ed1c5b 5%);
    border: 0;
    color: #fff;
    line-height: 10px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-51:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #ed1c5b 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  .button-51:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
    
  }

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container:hover .overlay {
    opacity: 1;
    height: 100%;
}

.image-container:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease; /* Añadido para garantizar transición suave en la imagen */
}

.image-container:hover .overlay-btn {
    opacity: 1;
}

/* Solución para posibles problemas de interpolación en algunas versiones de Firefox */
@keyframes dummy {
    from {
        opacity: 0.99;
    }
    to {
        opacity: 1;
    }
}

.section__container-menu3{
  
    width: 100%;
    max-width: 750px;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
   }
   
   .section__container-menu4{
    border: 1px solid #ed1c5b;
    width: 80%;
    min-width: 300px;
    height: 80%;
    display: flex;
    align-items: center;
    border-radius: 40px;
    position: relative;
     overflow: hidden;
     z-index: 09;
     /* background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 24px, transparent 24px) 0% 0%/30px 30px no-repeat, radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 24px, transparent 24px) 100% 0%/30px 30px no-repeat, radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 24px, transparent 24px) 0% 100%/30px 30px no-repeat, radial-gradient(circle at 0 0, #ffffff 0, #ffffff 24px, transparent 24px) 100% 100%/30px 30px no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 12px) calc(100% - 60px) no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 12px) no-repeat, linear-gradient(0deg, transparent 0%, #ed1c5b 100%); */
 
   }

.menu__contenedor-grande{
    width:400%; 
    /* outline: 1px solid red; */
    height: 100%;
    position: absolute;
    min-height: 245px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  
    transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
    
    
   
}
.contenedor__grande-imgs{
    width: calc(400% / 4);
    height: 100%;
    
    display: flex;
    flex-direction: row;
  align-content: center;
   align-items: center;
    justify-content: space-evenly;
    
     padding:10px;
   
    
}   
.contenedor_inicio{
    
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    /* outline: 1px dashed black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.contenedor_inicio_img{
    width: 100%;
    height: 100%;
    /* outline: 1px dashed black; */
    border-radius: 40px;
    
}
.contenedor_inicio_img img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition: transform 0.3s ease;
   
}
.contenedor_h3_img{
    width: 100%;
    height: 500px;
    /* outline: 3px dashed red; */
    position: absolute;
    bottom: 0;
    background-image: url(../img/wave.webp);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contenedor_h3_titulos{
    width: 100%;
    text-align: center;
    /* outline: 1px solid black; */
   height: 150px;
    display: flex;
    justify-content: center;
    font-family: 'Indie Flower', cursive;
    flex-direction: column;
    
}
.titulo1 p{
    font-size: 30px;
    font-weight: 600;
}
.titulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: 1px dashed black; */
    height: 100px;
}
.contenedor_subtitulos{
    /* outline: 1px dashed black; */
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-around;
}
/* -------------------flechas------------ */

.arrow {
	--arrow-size: 3em;
	--arrow-color: rgb(255,255,255);
	--arrow-color-hover: rgba(255,255,255,0.5);
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	width: var(--arrow-size);
	height: var(--arrow-size);
	overflow: hidden;
	
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		box-sizing: border-box;
		display: inline-block;
		width: calc( var(--arrow-size) * .7071);
		height: calc( var(--arrow-size) * .7071);
		border-top: calc( var(--arrow-size) / 5 ) solid var(--arrow-color);
		transition: all 150ms ease-in-out;
	}
	
	&.left {
		&::after {
			left: calc( var(--arrow-size) / 5 );
			border-left: calc( var(--arrow-size) / 5 ) solid #ed1c5b;
			transform-origin: top left;
			rotate: -45deg;
		}

		&:hover::after {
			box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
		}
	}

	&.right {
		&::after {
			right: calc( var(--arrow-size) / 5 );
			border-right: calc( var(--arrow-size) / 5 ) solid #ed1c5b;
			transform-origin: top right;
			rotate: 45deg;
		}

		&:hover::after {
			box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
		}
	}
}
a {
	&:hover .arrow {
		&.left,
		&.right {
			&::after {
				border-color: var(--arrow-color-hover);
			}
		}

		&.left {
			&::after {
				box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
			}
		}

		&.right {
			&::after {
				box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
			}
		}
	}
}

@media screen and (max-width: 916px) {

    .contenedor_mitades{
        
        flex-direction: column;
        
    }
    .mitades_uno{
        width: 100%;
        height: 20%;
    }
    .mitades_dos{
        width: 100%;
        height: 70%;
        justify-content: end;
    }
    .letras{
        font-size: 1em;
        line-height: 10px;
        font-weight: 600;
    }
    .contenedor_tituloMenu-Inicio{
      font-size: 4vh;
      font-weight: 800;
    }
    .contenedor_h3_img{
        height: 450px;
    }
    .contenedor_h3_titulos{
       
        /* outline: 1px solid black; */
       height: 80px;
        
        
    }
    .section__container-menu4{
        
        height: 95%;
       max-width: 404px;
        
        
       }
    

    .contenedor_img{
        width: 50%;
        
        /* border: 1px dashed red; */
    }
    .btnplay{
        width: 15%;
        margin-left: 10px;
        
    }
    .circle {
        width: 30px;
	height: 30px;
    }
    ._social-links {
        top: 34%;
        transform: translatey(-50%);
        padding: .5em 0.2em .5em .5em;
        
        border-radius: 0.5em 0 0 0.5em;
        box-shadow: -4px 0px 0px #ed1c5b;
        
    }
    ._links-list {
       
        gap: .4em;
    }
    ._social-links:hover {
        padding: .5em;
    }
    ._social-link a {
        
        font-size: 1.3rem;
        
    }
    ._social-link a:hover {
        font-size: 1.5rem;
    }
    .arrow {
        --arrow-size: 2em;
       
    }
    .contenedor_flechas{
        width: 90%;
    }
    .titulo1 p{
        
        font-size: 20px;
        font-weight: 600;
    }
    .contenedor_subtitulos p{
        font-size: 15px;
    }
  }