

 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


 .contenedor_section-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }
 .contenedor_tituloMenu2{
  width: 25%;
  height: auto;
  
 text-align: center;
 position: absolute;
 top: 0px;
 left: 20px;

}

.contenedor_tituloMenu2 p{
  text-align: center;
  letter-spacing: 0.10em;
  font-family: 'Montserrat', sans-serif;
  font-size: 5vh;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 800;
color: #ececee;
  
}
 .contenedor_flechas2{
  width: 100%;
  height: 60px;
  
  position:absolute;
  z-index: 05;
  display: flex;
  bottom: 10%;

  justify-content: space-between;
}
 
 .section_img{
   position: relative;
   width: 90%;
   height: 100%;
   display: flex;
   justify-content:start;
   align-content: center;
   align-items: center;
   flex-direction: column;
 }


 .section__container-imagenes{
  width: calc(100% - 14%);
  max-width: 750px;
  height: 60%;
  min-width: 350px;
  margin-top: 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  background-color: #1f2029;;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
 .imagenesA{
    width: 50%;
    height: 100%;
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 24px, transparent 24px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 24px, transparent 24px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 24px, transparent 24px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 24px, transparent 24px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 12px) calc(100% - 60px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 12px) no-repeat,
            linear-gradient(0deg, transparent 0%, #ed1c5b 100%);
border-radius: 30px;
padding: 4px;
box-sizing: border-box;
-webkit-transition:src 3s ease-in-out;
  transition: src 3s ease-in-out;
  -moz-transition: src 3s ease-in-out;
 }
 
 .imagenesA img{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;  
  
  
 }
 .imagenesB{
  width: 50%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  margin-left: 10px;
 }
 .imagenesB_title{
  margin-top: 10px;
  width: 100%;
  height: auto;
  min-height: 18%;
  
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 30px;
 }
 
 .imagenesB_subtitle{
  width: 100%;
  height: auto;
  min-height: 20%;
  
  text-align: center;
  color: #ccc;
  font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 30px;
 }
 .imagenesB_subtitle h4{
 
  
  text-align: center;
  color: #ffc107;
  
 }

 .imagenesB_button{
  width: 100%;
  margin-top: 10px;
  height: auto;
  min-height: 30%;
  
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .button-49:hover{
  cursor: pointer;
 }
/* CSS */
.button-49,
.button-49:after {
  width: 120px;
    height: 66px;
  
  
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
	font-size: 16px;
  background: linear-gradient(45deg, transparent 5%, #ed1c5b 5%);
  border: 0;
  color: #fff;
  line-height: 30px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #ed1c5b 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 120px;
    height: 66px;
    line-height: 30px;
  }
}
 
 
 
 .section__container-menu{
  width: calc(100%);
  min-width: 320px;
  height: 100px;
  outline: 1px solid red;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
   overflow: hidden;
   z-index: 09;

 }
 .flecha_izquierda{
  width: 10%;
  outline: 1px solid red;
  position: absolute;
  left:-10%;
  margin-left: 20px;
  
 
 }
 .flecha_derecha{
  width: 10%;
  outline: 1px solid red;
  position: absolute; 
  right:-10%;
  margin-right: 20px;

 }
 .arrow_imgs {
	--arrow-size: 3em;
	--arrow-color: rgb(255,255,255);
	--arrow-color-hover: rgba(255,255,255,0.5);
	position: relative;
	display: inline-flex;
	vertical-align: middle;
	width: var(--arrow-size);
	height: var(--arrow-size);
	overflow: hidden;
	
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		box-sizing: border-box;
		display: inline-block;
		width: calc( var(--arrow-size) * .7071);
		height: calc( var(--arrow-size) * .7071);
		border-top: calc( var(--arrow-size) / 5 ) solid var(--arrow-color);
		transition: all 150ms ease-in-out;
	}
	
	&.left {
		&::after {
			left: calc( var(--arrow-size) / 5 );
			border-left: calc( var(--arrow-size) / 5 ) solid #ed1c5b;
			transform-origin: top left;
			rotate: -45deg;
		}

		&:hover::after {
			box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
		}
	}

	&.right {
		&::after {
			right: calc( var(--arrow-size) / 5 );
			border-right: calc( var(--arrow-size) / 5 ) solid #ed1c5b;
			transform-origin: top right;
			rotate: 45deg;
		}

		&:hover::after {
			box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
		}
	}
}
a {
	&:hover .arrow {
		&.left,
		&.right {
			&::after {
				border-color: var(--arrow-color-hover);
			}
		}

		&.left {
			&::after {
				box-shadow: calc( var(--arrow-size) / -8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
			}
		}

		&.right {
			&::after {
				box-shadow: calc( var(--arrow-size) / 8 ) calc( var(--arrow-size) / -8 ) 0 var(--arrow-color);
			}
		}
	}
}







 .display{
  /* outline: 1px solid black; */
  width: 400%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: transform 1s ease-in-out;
    -webkit-transition: transform 1s ease-in-out;
    -moz-transition: transform 1s ease-in-out;
  
 }
 .display1{
  width: calc(400% / 4);
  display: flex;
  flex-direction: row;
  align-content: center;
   align-items: center;
   justify-content: space-evenly;
   /* outline: 3px solid green; */
  
 }
 
 .checkbox2{
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #bdc3c7;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-image: url('../img/la1.jpg');
  animation: border-transform 6s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
 }
 .checkbox{
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
  transform: scale(1.3);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
    border: 3px solid #da2c4d;;
}

 .checkbox2.scnd{
   background-image: url('../img/la2.jpg');
   
 }
 .checkbox2.thrd{
   background-image: url('../img/la3.jpg');
 }
 .checkbox2.foth{
   background-image: url('../img/la4.jpg');
 }
 .checkbox2.cinco{
  background-image: url('../img/la5.jpg');
}
.checkbox2.seis {
  background-image: url('../img/la6.jpg');
}
.checkbox2.siete{
  background-image: url('../img/la7.jpg');
}
.checkbox2.ocho{
  background-image: url('../img/la8.jpg');
}
.checkbox2.nueve {
  background-image: url('../img/la9.jpg');
}

.checkbox2.diez {
  background-image: url('../img/la10.jpg');
}

.checkbox2.once {
  background-image: url('../img/la11.jpg');
}

.checkbox2.doce {
  background-image: url('../img/la12.jpg');
}

.checkbox2.trece {
  background-image: url('../img/la13.jpg');
}

.checkbox2.catorce {
  background-image: url('../img/la14.jpg');
}

.checkbox2.quince {
  background-image: url('../img/la15.jpg');
}

.checkbox2.dieciseis {
  background-image: url('../img/la16.jpg');
}

.checkbox2.diecisiete {
  background-image: url('../img/la17.jpg');
}

.checkbox2.dieciocho {
  background-image: url('../img/la18.jpg');
}

.checkbox2.diecinueve {
  background-image: url('../img/la19.jpg');
}

.checkbox2.veinte {
  background-image: url('../img/la20.jpg');
}

.checkbox2.veintiuno {
  background-image: url('../img/la21.jpg');
}

 
 
@media screen and (max-width: 816px) {


  .section__container-imagenes{
    
   
    height: 60%;
    min-width: 350px;
    margin-top: 50px;
   
  }

  .imagenesB_title {
    font-size: 12px
   
   }
   .imagenesB_subtitle{
    font-size: 12px;
   }
   .checkbox2{
    width: 40%;
  height: 55%;
  max-width: 75px;
   }
}
@media screen and (max-width: 562px) {


  
   .imagenesB_subtitle{
    font-size: 2.5vw;
   }
}